html {
  display: block;
  margin: 0;
  border: 0;
  padding: 0;
  height: 100%;
}

@media screen and (min-width: 768px) {
  html {
    font-size: 20px;
  }
}

@media screen and (min-width: 450px) {
  html {
    font-size: 18px;
  }
}

.menu {
  margin: 0;
  height: 5.25rem;
}

.menu-1 {
  height: 2rem;
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
}

.img-1,
.img-2 {
  width: 2rem;
}

.menu-1 img {
  width: 100%;
  height: 100%;
}

.menu-1-1 {
  width: 80%;
  margin: 0 auto;
  display: block;
  position: relative;
}

.menu-1-1 input {
  background-color: rgba(204, 200, 200, 0.37);
  border: 0;
  height: 100%;
  width: 100%;
}

.menu-2 {
  width: 85%;
  left: 0;
}

.menu ul {
  list-style: none;
  display: flex;
  flex-grow: 1;
  padding: 0;
  margin: 0.6rem auto 0 auto;
  height: 2.5rem;
  align-items: center;
}

.menu li {
  padding: 0 0.6rem;
  color: rgba(128, 128, 128, 0.63);
}

.user {
  width: 95%;
  height: 3rem;
  margin: 0 auto;
}

.user1 img {
  width: 2rem;
  height: 2rem;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  float: left;
}

.user2 {
  width: 60%;
}

.user2 h3 {
  line-height: 1rem;
  width: 8rem;
  margin: 0;
}

.user2 p {
  line-height: 1rem;
  margin: 0.5rem 0 0 0;
  color: rgba(128, 128, 128, 0.719);
  font-size: 0.8rem;
}

.user3 {
  width: 5rem;
  position: absolute;
  right: 1rem;
  top: 6rem;
  height: 1.5rem;
}

.user3 button {
  border: 1px solid rgba(128, 128, 128, 0.5);
  width: 100%;
  height: 100%;
  background-color: white;
  color: rgba(129, 129, 129, 0.795);
}

.user4 {
  line-height: 1.5rem;
}

.user5 {
}
