html {
  display: block;
  margin: 0;
  border: 0;
  padding: 0;
  height: 100%;
}

@media screen and (min-width: 600px) {
  html {
    font-size: 20px;
  }
}

@media screen and (min-width: 450px) and (max-width: 599px) {
  html {
    font-size: 16px;
  }
}
.all {
  margin: 0;
  padding: 0;
  background-color: rgba(128, 128, 128, 0.11);
}
.all1 {
  max-width: 750px;
  background-color: white;
  margin: 0 auto;
  position: relative;
  width: 100%;
}
.menu {
  margin: 0;
  height: 5.25rem;
  border-bottom: 1px solid rgba(128, 128, 128, 0.5);
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  background-color: white;
  z-index: 99;
}

.menu-1 {
  height: 2rem;
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
}

.img-1,
.img-2 {
  width: 2rem;
}

.menu-1 img {
  width: 100%;
  height: 100%;
}

.menu-1-1 {
  width: 80%;
  margin: 0 auto;
  display: block;
  position: relative;
}

.menu-1-1 input {
  background-color: rgba(204, 200, 200, 0.37);
  border: 0;
  height: 100%;
  width: 100%;
}

.menu-2 {
  width: 85%;
  left: 0;
}

.menu ul {
  list-style: none;
  display: flex;
  flex-grow: 1;
  padding: 0;
  margin: 0.6rem auto 0 auto;
  height: 2.5rem;
  align-items: center;
}

.menu li {
  padding: 0 0.6rem;
  color: rgba(128, 128, 128, 0.63);
}

.user {
  position: relative;
  height: 33rem;
  top: 5.25rem;
  border-bottom: 1px solid rgba(128, 128, 128, 0.13);
}
.user0 {
  width: 95%;
  height: 3rem;
  margin: 0 auto;
  position: relative;
  margin-top: 1rem;
}

.user1 img {
  width: 2rem;
  height: 2rem;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  float: left;
}

.user2 {
  width: 60%;
}

.user2 h3 {
  line-height: 1rem;
  width: 8rem;
  margin: 0;
}

.user2 p {
  line-height: 1rem;
  margin: 0.5rem 0 0 0;
  color: rgba(128, 128, 128, 0.719);
  font-size: 0.8rem;
}

.user3 {
  width: 5rem;
  position: absolute;
  right: 0;
  top: 0;
  height: 1.5rem;
}

.user3 button {
  border: 1px solid rgba(128, 128, 128, 0.5);
  width: 100%;
  height: 100%;
  background-color: white;
  color: rgba(129, 129, 129, 0.795);
}

.user4 {
  line-height: 1.5rem;
  margin-top: 0;
  margin-bottom: 1rem;
}
.user4 p {
  width: 95%;
  margin: 0 auto;
}
.user5 {
  margin: 0 auto;
  width: 23rem;
  height: 23rem;
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;
  grid-template-rows: 33.3% 33.3% 33.3%;
}
.user5 img {
  width: 95%;
  height: 95%;
}
