html {
    height: 100%;
}

.all {
    margin: 0;
    padding: 0;
    background-color: rgba(128, 128, 128, 0.11);
}

.all1 {
    max-width: 550px;
    background-color: white;
    margin: 0 auto;
    position: relative;
    width: 100%;
}

.main {
    background-color: rgba(207, 224, 243, 0.678);
    margin: 0 auto;
    margin-top: 8rem;
    border: 1px;
    border-radius: 8px;
    width: 80%;
    text-align: center;
    padding: 2rem;
}

button {
    border-radius: 10px;
    background-color: rgba(250, 210, 31, 0.884);
    border: 1px rgb(71, 71, 71);
    width: 80%;
    height: 2.5rem;
    font-size: 1rem;
}