<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>成电气质</title>
  <link rel="stylesheet" href="../src/css/index.css">
  <link href="https://fonts.googleapis.com/css?family=Noto+Serif+SC:900" rel="stylesheet">
</head>

<body>
  <div class="answer-page pr bg">
    <div class="wrap2 pr">
      <h2 class="tac hide">2019成电气质答题页面</h2>
      <div class="test-wrap">
        <p class="tac"><span class="current-num">1</span>/14</p>
        <p class="test-content"></p>
        <div class="ul-con tac"></div>
        <div class="pn-btn test-prev"></div>
        <div class="pn-btn test-next"></div>
      </div>
      <div class="pop-con tac hide">
        <p>确认提交？</p>
        <div class="pop-bcon">
          <button class=" pop-quit pop-btn">
            继续作答</button>
          <button class=" pop-submit pop-btn">
            提交答案</button>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript" src="../lib/jquery.js"></script>
  <script type="text/javascript" src="../src/js/index.js"></script>
  <script type="text/javascript" src="../src/js/answer.js"></script>
</body>

</html>