<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>成电气质</title>
  <link rel="stylesheet" href="../src/css/index.css">
  <link href="https://fonts.googleapis.com/css?family=Noto+Serif+SC:900" rel="stylesheet">
</head>

<body>
  <div class="bg">
    <div class="lg-topwrap">
      <p class="notice">本测试仅供娱乐参考，非专业心理指导</p>
      <div class="font-wrap">
        <img src="../src/images/login/font.png" class="fontimg">
      </div>
    </div>
    <div class="lg-div1">
      <p class="usrname"><span>欢迎你</span></p>
      <button type="button" class="begin-btn btn">开始测试</button>
      <div class="login-footer">
        <p class="xc-cr pa tac rj">电子科技大学大学生网络文化工作室联盟<br>“软件e声”大学生网络文化工作室</p>
        <p class="xc-cr pa tac">Copyright&copy;1998-2019 StarStudio. All Rights Reserved</p>
      </div>
    </div>
    <div class="ins"></div>
  </div>
  <script type="text/javascript" src="../lib/jquery.js"></script>
  <script type="text/javascript" src="../src/js/index.js"></script>
  <script type="text/javascript" src="../src/js/instructions.js"></script>
</body>

</html>