<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>成电气质-微信登录</title>
  <link rel="stylesheet" href="../src/css/index.css">
  <link href="https://fonts.googleapis.com/css?family=Noto+Serif+SC:900" rel="stylesheet">
</head>

<body>
  <div class="bg">
    <div class="lg-topwrap">
      <p class="notice">本测试仅供娱乐参考，非专业心理指导</p>
      <img src="../src/images/uestc-logo.png" class="logoimg">
      <div class="font-wrap">
        <img src="../src/images/login/font.png" class="fontimg">
      </div>
    </div>
    <div class="lg-btn-div">
      <p class="mgt">
        格子衫，双肩包<br />哪一个是你的style？<br />Matlab,VSCode<br />哪一个是你的生产力工具？<br />在这些细节中也隐藏了密码？<br />来测一测，你的成电气质吧！<br />成电专供，博君一笑
      </p>
      <button class="btn login-btn" id="wxlg-btn">微信登录</button>
      <div class="imgwrap">
        <img src="../src/images/login/lib.png" class="homeimg">
      </div>
      <div class="login-footer">
        <p class="xc-cr pa tac rj">电子科技大学大学生网络文化工作室联盟<br>“软件e声”大学生网络文化工作室</p>
        <p class="xc-cr pa tac">Copyright&copy;1998-2019 StarStudio. All Rights Reserved</p>
      </div>
    </div>
  </div>
</body>
<script type="text/javascript" src="../lib/jquery.js"></script>
<script type="text/javascript" src="../src/js/index.js"></script>
<script type="text/javascript" src="../src/js/login.js"></script>

</html>